html {
    scroll-behavior: smooth;
  }

:root {
    /* https://mantine.dev/colors-generator/?color=63687C */
    --primary-background: #808496;
    --secondary-background: #c8cad3;
    --accent1: #4a5167;
    --accent2: #656a7e;
}

body {
    font-family: Roboto, sans-serif;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.hide-overflow {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}


/* NAVBAR */

.navbar {
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: var(--primary-background);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 100px;
} 

.navigation {
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation > a {
    color: white;
    display: block;
    margin-left: 30px;
    font-size: 14px;
    letter-spacing: 2px;
    transition: all 200ms ease-in-out;
}

.navigation > a:hover {
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
}

.burger-menu {
    display: none;
    cursor: pointer;
    margin-right: 20px;
    font-size: 30px;
}

@media (max-width: 1200px) {
    .logo {
        margin-left: 20px;
    }

    .navigation {
        margin-right: 20px;
    }
}

@media (max-width: 768px) {
    .navigation {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        top: 60px;
        padding-top: 50px;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--primary-background);
    }

    .navigation > a {
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .navigation.show {
        display: flex;
    }

    .burger-menu {
        display: block;
    }
}


/* HERO SECTION */

.hero-section {
    position: relative;
    height: 100vh;
    background-color: var(--primary-background);
    background-image: url('assets/hero.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
}

.hero-content {
    padding: 20px;
    margin-left: 300px;
}

.hero-content h1 {
    font-size: 5em;
    margin-bottom: 0px;
}

.hero-content h2 {
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 20px;
}

.hero-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--accent1);
    color: #fff;
    text-decoration: none;
    font-size: 1.7em;
    border-radius: 2px;
    transition: background-color 0.3s ease-in-out;
}

.hero-button:hover {
    background-color: var(--accent2);
}

@media (max-width: 1200px) {
    .hero-content {
        max-width: 100%;
        margin-left: 50px;
    }

    .hero-button {
        font-size: 1.5em;
    }
}

@media (max-width: 768px) {
    .hero-section {
        background-position: 750px;
    }

    .hero-content {
        margin-top: 150px;
        margin-left: 10px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }

    .hero-content h1 {
        font-size: 2.4em;
    }

    .hero-content h2 {
        font-size: 1.2em;
    }

    .hero-button {
        font-size: 1.4em;
    }
}


/* TRENINGI */

section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding-top: 4em;
}

.treningi {
    width: 100vw;
    scroll-margin-top: 20vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.title {
    text-align: left;
    font-size: 2em;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em 0;
}

.img-wrapper {
    width: 55%;
}

.img-wrapper > img {
    margin: 0;
    width: 80%;
    height: auto;
    padding: 25px;
    outline: 5px solid var(--accent1);
    outline-offset: -20px;
    mask:
      conic-gradient(at 50px 50px,#0000 75%,#000 0)
      0 0/calc(100% - 50px) calc(100% - 50px),
      linear-gradient(#000 0 0) content-box;
}

.text-wrapper{
    width: 45%;
}

.text {
    margin-bottom: 1em;
    font-size: 24px;
}

@media (max-width: 1200px) {
    .container {
        width: 95%;
    }

    .title {
        font-size: 1.6em;
    }

    .text {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    section {
        padding: 2em 0;
    }

    .container {
        width: 100%;
        height: fit-content;
    }

    .content-wrapper {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-bottom: 20px;
    }

    .img-wrapper {
        width: 90%;
    }

    .img-wrapper > img {
        width: 100%;
        height: auto;
        margin: 0;
        margin-left: -15px;
        padding: 15px;
        outline: 3px solid var(--accent1);
        outline-offset: -10px;
        mask:
          conic-gradient(at 25px 25px,#0000 75%,#000 0)
          0 0/calc(100% - 25px) calc(100% - 25px),
          linear-gradient(#000 0 0) content-box;
    }
    
    .text-wrapper{
        width: 90%;
    }

    .title {
        font-size: 1.2em;
    }
}


/* O mnie */

.o-mnie {
    padding: 0px;
    height: fit-content;
    margin-bottom: 0;
    scroll-margin-top: 5vh;
}

.o-mnie .content-wrapper {
    margin: 0;
}

.o-mnie img {
    width: 40px;
    margin-right: 10px;
}

.about-img {
    width: 50%;
}

.about-img > img {
    margin-left: 100px;
    width: 80%;
    height: auto;
    margin-top: 50px;
    margin-bottom: -4px;
}

@media (max-width: 768px) {
    .o-mnie {
        margin-top: -150px;
        scroll-margin-top: 2vh;
    }

    .o-mnie .content-wrapper {
        flex-direction: column-reverse;
        margin-top: 70px;
    }

    .o-mnie img {
        width: 40px;
        margin-right: 10px;
    }

    .about-img {
        height: 370px;
        width: 100%;
        display: flex;
        justify-content: right;
        margin-bottom: -40px;
    }

    .about-img > img {
        height: 100%;
        width: auto;
        margin: 0;
    }
}

/* Kontakt */
.contact {
    background-color: var(--primary-background);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    scroll-margin-top: 10vh;
}

.contact a {
    color: white;
    font-weight: 600;
}

.contact h3 {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 20px;
    display: inline-block;
}

.contact h3::after { 
    content: "";
    margin-top: 15px;
    margin-left: 35%;
    height: 2px;
    width: 30%;
    display: block;
    background: white;
  }

.contact h4 {
    font-size: 1.6em;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 768px) {
    .contact {
        margin-top: 100px;
    }

    .contact h3 {
        font-size: 1.6em;
    }

    .contact h4 {
        font-size: 18px;
    }
}


/* SPONSORS */

.sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: fit-content;
}

.sponsors h3 {
    font-size: 2em;
    margin-bottom: 0px;
    display: inline-block;
}


.sponsors h3::after { 
    content: "";
    margin-top: 15px;
    margin-left: 35%;
    height: 2px;
    width: 30%;
    display: block;
    background: black;
}

@media (max-width: 768px) {
    .sponsors h3 {
        font-size: 1.6em;
    }

    .sponsors img {
        width: 150px;
    }
}


/* FOOTER */

.footer {
    margin-top: 200px;
    background-color: var(--primary-background);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    font-size: 16px;
}

.footer-menu{
    display: flex;
    gap: 20px;
}

.footer-menu a{
    color: white;
}

.polityka-link {
    display: none;
}

@media (max-width: 1200px) {
    .footer > nav {
        display: none;
    }

    .polityka-link {
        display: block;
        color: white;
    }
}


@media (max-width: 768px) {
    .footer {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .footer > p {
        margin: 5px;
    }
}

.polityka {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    padding-top: 100px;
}